html, body {
	color: var(--foreground);
	background-color: var(--background);
	margin: 0;
	padding: 0;
	height: fit-content;
}

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	display: flex;
	justify-items: center;
	font-family: sans-serif;
	flex-direction: column;
}

nav {
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	background: var(--nav-fade-under);
}

nav ul {
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 1.25rem;
	margin-right: 60px;
	max-width: 50rem;
	text-align: right;
}

nav li {
	display: inline;
	justify-self: right;
	list-style: none;
	margin: 0 2rem;
}

nav a {
	text-decoration: none;
	color: var(--foreground);
	font-size: 120%;
}

nav a:hover {
	color: var(--nav-link-hover);
}

main {
	width: 100%;
	max-width: 40rem;
	align-self: center;
	margin-top: 4rem;
	margin-bottom: 5rem;
}

main a {
	color: var(--foreground);
}

main p {
	line-height: 140%;
}

blockquote {
	background-color: var(--blockquote-background);
	border-color: var(--blockquote-border);
	border-style: solid;
	border-width: 0px;
	border-left-width: 4px;
	margin-right: 0;
	margin-left: 0;
	border-radius: 2px;
}

blockquote p {
	padding: 0.5rem;
}

footer {
	width: 100%;
	height: 3rem;
	position: fixed;
	bottom: 0px;
	display: flex;
	background-color: var(--footer-background);
	color: var(--footer-foreground);
	align-items: center;

}

footer ul {
	width: 100%;
	text-align: center;
	text-wrap: nowrap;
}

footer li {
	display: inline;
	justify-self: center;
	list-style: none;
	margin: 0 3rem;
	text-wrap: auto;
	font-size: 90%;
}

footer a {
	text-decoration: none;
	color: var(--footer-foreground);
}

footer a:hover {
	color: var(--footer-link-hover);
}

@media (max-width: 750px) {
	footer li {
		display: block;
		margin-top: 0.5rem;
	}

	footer {
		height: 8rem;
	}
}

.github-corner {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 42;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,100% {
		transform:rotate(0)
	}
	20%,60% {
		transform:rotate(-25deg)
	}
	40%,80% {
		transform:rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation:none
	}
	.github-corner .octo-arm {
		animation:octocat-wave 560ms ease-in-out
	}
}

:root {
	--background: white;
	--foreground: black;
	--nav-link-hover: #901010;
	--nav-fade-under: linear-gradient(rgb(255 255 255 / 100%) 75%, rgb(255 255 255 / 0%));
	--blockquote-background: #d0d0d0;
	--blockquote-border: #a0a0a0;
	--footer-background: black;
	--footer-foreground: white;
	--footer-link-hover: #c0c0c0;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #d0d0d0;
		--nav-link-hover: #b08080;
		--nav-fade-under: linear-gradient(rgb(18 18 18 / 100%) 75%, rgb(18 18 18 / 0%));
		--blockquote-background: #252525;
		--blockquote-border: #505050;
	}
}
